.product{
    display: grid;
    grid-gap: 1rem;
    /* grid-template-columns:  auto auto auto;
     */
     grid-template-columns: repeat( auto-fit, minmax(20rem, 2fr) );
  
    /* background-color: #e4eaee; */
    justify-items: center;
    padding-top: 2rem;
}